<hr style="height:1px; width:50%; border:none;color:#333;background-color:#333;" />
<p>
	<strong>Commenter:</strong>
	<%= comment.commenter %>
</p>

<p>
	<strong>Comment:</strong>
	<%= comment.body %>
</p>
<%= link_to 'Delete', [comment.article, comment], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs'%>	
			
