<div class="container-fluid">
	<div class="row">
		<div id="LeftPadding" class="col-xs-3">
			
        </div>
		
        <div id="content" class="col-xs-6">
			<div class="row">
				<div id="LeftPadding" class="col-xs-3">
					
				</div>
				
				<div id="content" class="col-xs-6">
					<h1>My blog</h1>
				</div>
				
				<div id="RightPadding" class="col-xs-3">

				</div>
			</div>
		</div>
		
		<div id="RightPadding" class="col-xs-3">

        </div>
	</div>
	
	<div class="row">
		<div id="LeftPadding" class="col-xs-6">
        </div>
		
        <div id="content" class="col-xs-3">
			<%= link_to 'New article', new_article_path, class: 'btn btn-success'%>
		</div>
	</div>
	
	<div class="row">
		<div id="LeftPadding" class="col-xs-3"/>
        </div>
		
        <div id="content" class="col-xs-6">
			<% @articles.each do |article| %>
				<div class="row">
					<div class="col-xs-1">
					</div>
					
					<div class="col-xs-8">
						<h1><%= link_to article.title, article_path(article), method: :get %> <small>View(s): <%= article.count %></small></h1>
					</div>
					
					<div class="col-xs-3">
					</div>
				</div>
				
				<% if article %>
					<hr style="height:2px; width:50%; border:none;color:#333;background-color:#333;" />
				<% end %>
				
			<% end %>
		</div>
		
		<div id="RightPadding" class="col-xs-3">
        </div>
		
	</div>
</div>

