<div class="container-fluid">
	<div class="row">
		<div id="LeftPadding" class="col-xs-2">
			
        </div>
		
        <div id="content" class="col-xs-8">
			<div class="row">
				<div id="LeftPadding" class="col-xs-3">
					
				</div>
				
				<div id="content" class="col-xs-6">
					<h1><%= link_to @article.title, article_path(@article), method: :get %></h1>
					
					<p>
						<%= markdown(@article.text) %>
					</p>
				</div>
				
				<div id="RightPadding" class="col-xs-2">

				</div>
			</div>
			
			<div class="row">	
				<div class="col-xs-3">
				</div>
				
				<div class="col-xs-3">
					<%= link_to 'Edit', edit_article_path(@article),
								class: 'btn btn-primary btn-sm'%>
				</div>
				
				<div class="col-xs-6">
					<%= link_to 'Back', articles_path,
								class: 'btn btn-default btn-sm'%>
				</div>
			</div>
		</div>
		
		<div id="RightPadding" class="col-xs-3">

        </div>
	</div>
</div>

